.contact {
  gap: 35px;
  grid-template-columns: 2fr 1fr;
  position: relative;
  display: grid;
  min-height: 100vh;
  place-content: center;
}

._form_wrapper {
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.51);
  background-color: #fff;
  opacity: 0.7;

  display: grid;
  padding: 15px;
}

._form_wrapper > form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  height: 400px;
}

.submit-btn {
  margin-right: 20px;
  text-decoration: none;
  color: #ffff;
  background-color: #0a0a0a;
  padding: 10px;
  border-radius: 10px;
}
.submit-btn:hover {
  margin-right: 20px;
  text-decoration: none;
  background-color: #ec704c;
}

.contact_msg {
  display: grid;
  margin: 0;
  color:#ec704c;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 300;
  font-size: 6rem;
  line-height: 1.167;
  letter-spacing: -0.01562em;
  text-shadow: 0 5px 10px rgba(0, 0, 0);
  text-align: center;
  align-items: center;
}

.fieldBackground > div {
  background-color: #fff;
}

@media (max-width: 1024px) {

}
@media (max-width: 768px) {
  .contact {
    margin-bottom: 7em;
    grid-template-columns: 1fr;
  }
  ._form_wrapper {
    width: 100%;
    grid-row: 2;
  }
  .contact_msg {
    font-size: 50px;
  }
}